section {
  	margin: auto;
    height:90%;
    width:90%;
    display: table;
    background-size: cover;
    font-family: times new romans;
}

h2{
	
	text-align: left;
	margin: .25% .25% 0 0;
}

h3{
	text-align: left; 
	font-weight: normal;
	margin: .25% .25% 0 0;
}

h4{
	color: #D22C56;
	font-weight: normal;
	border-bottom: 2px;
	padding-top: 30px;
	margin: .25% .25% 0 0;
}

h5{
	color: #D22C56;
	border-bottom: 2px solid silver;
	padding-bottom: 25px;
	margin: .25% .25% 0 0;
	font-weight: normal;
}

td{
	padding: 15px;
}

tr{
	text-align: left;
	font-size: 130%;
	vertical-align: text-top;

}

ul{
	font-size: 85%;
}

tr, td{
	width: 75%;
	padding-top: 30px;
	border-bottom: 1px solid silver;
}

br{
	font-size: 80%;
}



