body {
    padding: 33px;
    margin:15px;
}

h2{
    text-align: Left;
    font-size: 180%;    
}

a {
    text-decoration: none;
    display: inline-block;
    padding: 8px 16px;
}

p{
    color: black;
    font-size: 110%;
    text-align:justify;
    padding-left:30px;
    padding-right:30px;
    margin-left:10px;
    margin-right:10px;
}

img {
    background-position: left;
    position: absolute;
    left:10px; 
    overflow: auto;
}