 h1 {
    text-align: center;
    font-size: 250%;
    color: gray;
    letter-spacing: 15px;
    text-transform: uppercase;
 }

 nav {
    text-align: center;
    font-size: 120%;
    letter-spacing: 3px;
    padding-bottom: 30px;
 }


body {
    padding: 33px;
    border: 5px solid gray;
}

h2{
    text-align: Left;
    font-size: 180%;
}

p{
    color: gray;
    font-size: 110%;
    border-bottom: 2px;
    text-align: left;
}

a {
    text-decoration: none;
    display: inline-block;
    padding: 8px 16px;
}

img {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-image: url("../Portfolio/Rendered Images/us.jpg");
    background-position: center;
    margin: auto;
    display: block;
    margin-bottom: 40px;
}