h2{
	text-align:left;
	font-size: 180%;
}

p{
	color: gray;
    font-size: 110%;
    border-bottom: 2px solid silver;
    padding-bottom: 30px;
    text-align: center;
}

a {
    text-decoration: none;
    display: inline-block;
    padding: 8px 16px;
    }

input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

input[type=submit] {
    background-color: gray;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: red;
}

.container {
    border-radius: 5px;
    background-color: white;
    padding: 20px;
}
</style>

img {
    background-position: left;
    position: absolute;
    left:10px; 
    overflow: auto;
}