 h1 {
    text-align: left;
    font-size: 125%;
    color: gray;
    letter-spacing: 15px;
    text-transform: uppercase;
    padding-left: 100px;
 }

  nav {
    text-align: right;
    font-size: 120%;
    letter-spacing: 3px;
    padding-bottom: 30px;
    text-decoration: none;
 }

a nav {
    text-decoration: none;
}

body {
    padding: 33px;
    margin:15px;
}

h2{
	text-align: Left;
	border-bottom: 2px solid gray;
	padding-bottom: 5px;
	font-size: 180%;
}

p{
	color: gray;
    font-size: 110%;
}

a {
    text-decoration: none;
    display: inline-block;
    padding: 8px 16px;
}
