 h1 {
 	text-align: center;
 	font-size: 250%;
 	color: gray;
 	letter-spacing: 15px;
 	text-transform: uppercase;
 }

 nav {
    text-align: center;
    font-size: 120%;
    letter-spacing: 3px;
    padding-bottom: 20px;
    text-decoration: none;
 }


body {
    padding: 35px;
    border: 5px solid gray;
}

h2{
	text-align: Left;
	border-bottom: 2px solid gray;
	padding-bottom: 5px;
	font-size: 180%;
}

p{
	color: gray;
    font-size: 110%;
}

a {
    text-decoration: none;
    display: inline-block;
    padding: 8px 16px;
}
